<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cartesian_gazebo_ros2_control_da" params="name">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <!-- left arm -->
      <joint name="left_shoulder_pan_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_shoulder_lift_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_elbow_joint">
        <command_interface name="position">     
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_wrist_1_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_wrist_2_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="left_wrist_3_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <!-- right arm -->
      <joint name="right_shoulder_pan_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_shoulder_lift_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_elbow_joint">
        <command_interface name="position">     
          <param name="min">${radians(-180)}</param>
          <param name="max">${radians(180)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_wrist_1_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_wrist_2_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
      <joint name="right_wrist_3_joint">
        <command_interface name="position">     
          <param name="min">${radians(-360)}</param>
          <param name="max">${radians(360)}</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>
</robot>
