# Development Dockerfile for ROS2 with Nvidia GPU support
# Maintainer: Dayuan
services:
  cartesian_motion_sim:
    container_name: cartesian_motion_sim
    image: cartesian_motion_sim:latest
    build: ./
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix

    working_dir: /root/cmb_ws/src/

    environment:
      - DISPLAY=${DISPLAY}
      - ROS_DOMAIN_ID=${ROS_DOMAIN_ID}
      - RMW_IMPLEMENTATION=${RMW_IMPLEMENTATION}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all

    network_mode: "host"  # Must with this line to enable display
    ipc: host

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all # Request all available GPUs. Can also be an integer (e.g., 1) or a specific ID
              capabilities: [gpu, graphics, utility, display] # Required field to specify GPU access

    devices:
      - /dev/dri:/dev/dri
    
    privileged: true
    stdin_open: true
    tty: true