name: ROS 2 CI (Build and Test)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build_and_test:
    runs-on: ubuntu-22.04

    container:
      image: osrf/ros:humble-desktop

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: src/cartesian_motion_base
        
      - name: Install dependencies
        run: |
          vcs import src < src/cartesian_motion_base/cartesian_motion_base.repos
          sudo apt update
          rosdep update
          rosdep install --from-paths src --ignore-src -r -y --rosdistro humble

      - name: Build the workspace
        run: |
          source /opt/ros/humble/setup.bash
          colcon build --symlink-install

      - name: Run tests
        run: |
          source /opt/ros/humble/setup.bash
          source install/setup.bash
          colcon test --package-select cartesian_motion_base cartesian_motion_tools cartesian_motion_test --event-handlers console_cohesion+
      
      - name: Check test results
        run: |
          source /opt/ros/humble/setup.bash
          source install/setup.bash
          colcon test-result --verbose
